/* Import Google font */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

/* --- Set the padding, margin & width, and set the default font & color for texts & background --- */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #e7ebe0ff;
  color: #28334aff;
}

.container {
  margin: 0 auto;
  width: 95%;
  height: 680px;
}

/* --- Navbar & Footer --- */
div a {
  text-decoration: none;
}

.brand-logo {
  font-family: "Courgette", cursive;
  font-weight: bold;
  font-size: xx-large;
  margin: 0 0 0 15px;
}

.nav-wrapper,
.sidenav,
.footer-copyright {
  background-color: #a13941ff;
  font-weight: bold;
}

nav .brand-logo,
nav li a,
.sidenav li a,
.footer-copyright p {
  color: #e7ebe0ff;
}

.footer-copyright {
  bottom: 0;
  width: 100%;
  line-height: 40px;
  text-align: center;
}

/* --- Materialize Carousel --- */
.carousel {
  width: 85%;
  border: 1px solid #f0eceb;
}

.center {
  margin: 30px 0 50px 0;
}

/* --- Page Title & Subtitle --- */
h3 {
  text-align: center;
  font-weight: bold;
}

h3 span {
  font-family: "Courgette", cursive;
  font-weight: bold;
}

h5 {
  text-align: center;
  font-weight: bold;
}

/* --- Materialize Collapsible --- */
.collapsible {
  height: 50vh;
  overflow-y: scroll;
  margin-top: 0;
  margin-bottom: 0;
}

.collapsible-header,
.collapsible-body {
  background-color: #aa863a;
  color: #f0eceb;
}

.collapsible-body {
  overflow: hidden;
}

.collapse-button a,
.collapse-button button {
  margin-left: 10px;
  background-color: #f0eceb;
  color: #aa863a;
  font-weight: bold;
}

/* --- Materialize Button --- */
.button {
  background-color: #aa863a;
  color: #f0eceb;
  font-weight: bold;
}

.collapse-button a:hover,
.collapse-button a:focus,
.collapse-button button:hover,
.collapse-button button:focus,
.button:hover,
.button:focus {
  background-color: #e0e0e0;
  color: #e6af4b;
}

/* --- User Select to the Quote or Description --- */
.user-select {
  user-select: all;
}

/* --- Materialize Icon Color & Shadow --- */
.input-field i,
i:focus {
  color: #e6af4b;
  text-shadow: 5px 5px 5px black;
}

.category {
  margin-top: 5px;
}

/* --- About Page --- */
.about-inspire {
  margin: 0 50px 0 50px;
  text-align: center;
}

.about-developer {
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

.about-developer .github {
  background-color: #24292e;
}

.about-developer .linkedin {
  background-color: #0e76a8;
}

/* --- Media Queries - Tablet Size --- */
@media (min-width: 768px) and (max-width: 1024px) { 
    .carousel {
        margin: 200px 0 0 0;
    }

    .collapsible {
        height: 35vh;
    }

    .footer-copyright {
        position: fixed;
    }
}

/* --- Media Queries - Mobile Size --- */
@media (min-width: 360px) and (max-width: 767px) {
    .container {
        height: 1000px;
    }

    .carousel {
        display: none !important;    
    }

    .collapsible {
        height: 60vh;
    }

    .collapsible .category {
        font-size: 70%;
    }
}
