@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
}

body {
  background-color: #729f98;
  color: #e6af4b;
}

div a {
  text-decoration: none;
}

.brand-logo {
  font-family: "Courgette", cursive;
  font-weight: bold;
  font-size: xx-large;
  margin: 0 0 0 15px;
}

nav .brand-logo,
nav li a,
.material-icons,
.footer-copyright p,
.sidenav li a {
  color: #e6af4b;
}

.nav-wrapper,
.footer-copyright,
.sidenav {
  background-color: #3b3a36;
  font-weight: bold;
}

.carousel {
  border: 1px solid #f0eceb;
}

.center {
  margin: 30px 0 50px 0;
}

.collapsible-header,
.collapsible-body,
.collapsible .material-icons {
  background-color: #aa863a;
  color: #f0eceb;
}

h3 {
  text-shadow: 5px 5px 5px black;
  text-align: center;
  font-weight: bold;
}

h3 span {
  font-family: "Courgette", cursive;
  font-weight: bold;
}

h5 {
  text-align: center;
  font-weight: bold;
  color: #f0eceb;
}

.footer-copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 40px;
  text-align: center;
}

.center p {
  float: left;
}
