{% extends 'base.html' %} {% block content %}

<!-- About Inspire Quote -->
<h3>About <span>InspireQuote</span></h3>
<br />

<div class="row">
  <div class="about-inspire">
    <h6>
      Motivation words have an amazing ability to change the way we feel about
      life. It is crucial on our paths to success.
    </h6>
    <br />
    <h6>
      The way we think and feel about ourselves, including our beliefs and
      expectations about what is possible for us, determines everything that
      happens to us. When we change the quality of our thinking, we change the
      quality of our life. Just as positive words can make someone smile or a
      well-timed humorous quote can make someone laugh, our thoughts react to
      the world in real-time.
    </h6>
    <br />
    <h6>
      Try keeping a few uplifting excerpts or positive proclamations on hand by
      using InspireQuote! If we ever notice our energy or our spirit begin to
      drop, simply recite a quote and uplifting quote to quickly boost our mood!
    </h6>
  </div>
  <br /><br />

  <!-- About the Developer -->
  <h3>About Developer</h3>
  <br />
  <div class="about-developer">
    <a
      href="https://github.com/kongteckmee/inspire-quote"
      target="_blank"
      class="waves-effect waves-light btn-floating btn-large social github"
    >
      <i class="fa fa-github"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/teck-mee-k-8a1b5b118/"
      target="_blank"
      class="waves-effect waves-light btn-floating btn-large social linkedin"
    >
      <i class="fa fa-linkedin"></i
    ></a>
  </div>
</div>
{% endblock %}
