{% extends 'base.html' %} {% block content %}
<div class="row">
  <h3>About <span>InspireQuote</span></h3>
  <br />
  <div class="about-inspire">
    <h6>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos illum a,
      vero aut, aliquid aliquam ipsum quae perferendis dolores ex deleniti rem
      quibusdam aspernatur, omnis corporis pariatur cum qui eveniet.
    </h6>
    <br />
    <h6>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, excepturi
      culpa ea non commodi possimus cupiditate maiores quibusdam consequuntur
      sit ipsum temporibus minus, provident quo enim itaque ab et. Assumenda?
    </h6>
    <br />
    <h6>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam optio
      molestiae omnis culpa maiores quod suscipit aut? Veniam tenetur
      exercitationem dicta, cumque sapiente in, dolor odio laudantium eaque ea
      reprehenderit!
    </h6>
  </div>
  <br />
  <br />
  <h3>About Developer</h3>
  <br />
  <div class="about-developer">
    <a href="https://github.com/kongteckmee/inspire-quote" target="_blank" class="waves-effect waves-light btn-floating btn-large social github">
      <i class="fa fa-github"></i
    ></a>
    <a href="https://www.linkedin.com/in/teck-mee-k-8a1b5b118/" target="_blank" class="waves-effect waves-light btn-floating btn-large social linkedin">
      <i class="fa fa-linkedin"></i
    ></a>
  </div>
</div>

{% endblock %}
