{% extends 'base.html' %}
{% block content %}
<h3>Add Category</h3><br>
<div class="row">
	<form>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">view_list</i>
				<input id="add_category" type="text" class="validate">
				<label for="add_category">Add Category</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s3">
				<button class="btn waves-effect waves-light button" type="submit" name="action">Submit</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}