{% extends 'base.html' %}
{% block content %}
<h3>Category</h3><br>
<div class="row">
	<ul class="collapsible">
    {% for category in categories %}
		<li>
			<div class="collapsible-header">
				<div class="category col s6">
					<span><b>{{category.category_name}}</b></span>
				</div>
				<div class="collapse-button col s6">
					<a href="#" class="waves-effect waves-light btn btn-small right">Delete</a>
					<a href="{{ url_for('edit_category', category_id=category._id) }}" class="waves-effect waves-light btn btn-small right">Edit</a>
				</div>
			</div>
		</li>
    {% endfor %}
	</ul>
</div>

<div class="row">
    <div class="input-field">
        <a href="{{ url_for('add_category') }}" class="btn waves-effect waves-light button">Add Category</a>
    </div>
</div>
{% endblock %}