{% extends 'base.html' %}
{% block content %}
<h3>Edit Category</h3><br>
<div class="row">
	<form action="#" method="" class="">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">view_list</i>
				<input id="edit_category" name="edit_category" type="text" class="validate" aria-required="true" value="">
				<label for="edit_category">Update Category</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s3">
				<button class="btn waves-effect waves-light button" type="submit">Submit</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}