{% extends 'base.html' %} {% block content %}
<div class="row">
	<div class="col s4">
		<div class="carousel carousel-slider center">
			<a class="carousel-item" href="#"><img src="{{ url_for('static', filename='img/c1.png') }}"
      /></a>
				<a class="carousel-item" href="#"><img src="{{ url_for('static', filename='img/c2.png') }}"
      /></a>
					<a class="carousel-item" href="#"><img src="{{ url_for('static', filename='img/c3.png') }}"
      /></a>
						<a class="carousel-item" href="#"><img src="{{ url_for('static', filename='img/c4.png') }}"
      /></a>
							<a class="carousel-item" href="#"><img src="{{ url_for('static', filename='img/c5.png') }}"
      /></a>
		</div>
	</div>
	<div class="col s8">
		<br />
		<h3>Welcome to <span>InspireQuote</span></h3>
		<h5>This is a place to quote by you!</h5>
		<br />
		<ul class="collapsible">
			{% for quote in quotes %}
			<li>
				<div class="collapsible-header">
					<i class="material-icons">expand_more</i>
                    <div class="col s9">
                        <span>"<b>{{quote.quote}}</b>"</span>
                    </div>
                    <div class="col s3">
                        <span>{{quote.category_name}}</span>
                    </div>	 
                </div>
				<div class="collapsible-body">
					<span><b>Description: <br></b>{{quote.description}}</span><br>
                    <span class="right">(<b>By: </b>{{quote.quote_by}})</span><br>
					<div class="collapse-button">
						<a href="#" class="waves-effect waves-light btn btn-small right">Delete</a>
						<a href="#" class="waves-effect waves-light btn btn-small right">Edit</a>
					</div>
				</div>				
			</li>
			{% endfor %}
		</ul>
		<div class="input-field col s4">
			<button class="btn waves-effect waves-light button" type="submit" name="add_new">Add New</button>
		</div>
	</div>
</div>
{% endblock %}